*.pyc
__pycache__/
.env
.vscode/
*.log
instagram_cookies.json
*.session
staticfiles/
reconocimiento_web_resultados.json
google_credentials.json
/imagenes_parroquias/
/imagenes_rechazadas/
subir_imagenes_imagekit.py